<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js" integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK" crossorigin="anonymous"></script>
  <title>Registro de acceso</title>
  <style>
    body {
      background-color: #ccc;
    }
    .container {
      background-color: #fff;
      margin: 20px auto;
      padding: 20px;
      border-radius: 8px;
    }
  </style>
</head>
<body>
  <!-- Bootstrap Toast Container Back-->
<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div class="toast-container position-fixed top-0 end-0 p-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="toast align-items-center text-white bg-{{ category }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                {{ message }}
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</div>
  <!-- Bootstrap Toast Container Front-->
   <!-- En tu HTML -->
<div id="toast-container" class="position-fixed bottom-0 end-0 p-3" style="z-index: 1100;"></div>

  <div class="container col-6">
    <form method="post" action="/crear-acceso" enctype="multipart/form-data">
      <h2 class="mb-4">REGISTRO DE ACCESO A LA SALA DE SERVIDORES</h2>

      <div class="mb-3">
        <label for="name" class="form-label">Nombre completo</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Correo</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>

      <div class="mb-3">
        <label for="date" class="form-label">Fecha</label>
        <input type="date" class="form-control" id="date" name="date" required>
      </div>

      <div class="mb-3">
        <label for="timein" class="form-label">Hora de entrada</label>
        <input type="time" class="form-control" id="timein" name="timein" required>
      </div>

      <div class="mb-3">
        <label for="timeout" class="form-label">Hora de salida</label>
        <input type="time" class="form-control" id="timeout" name="timeout" required>
      </div>

      <div class="mb-3">
        <label for="motivo" class="form-label">Motivo de ingreso</label>
        <textarea class="form-control" id="motivo" name="motivo" required></textarea>
      </div>
    <!--firma Visitante-->
      <div class="mb-3">
        <label for="firmavisitante" class="form-label">Firma del visitante</label> <br>
        <input type="hidden" id="firmavisitante" name="firmavisitante">
          <button type="button" class="btn btn-outline-secondary btn-lg col-12" id="btnAbrirModalVisitante">Ingresar firma</button>
          <!--Modal-->
          <div class="modal" id="modalVisitante">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title">Firma del visitante</h3>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">

                  <canvas id="canvaVisitante" class="col-12" style="background-color: #ccc;"></canvas>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btnBorrar"id="borrarVisit">Borrar</button> 
                  <button type="button" class="btn btn-primary btnGuardar"  id="guardarVisit" data-bs-dismiss="modal">Hecho</button>
                </div>
              </div>
            </div>
          </div>
         
      </div>

      <div class="mb-3">
        <label class="form-label">Autorizado por</label><br>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="autorizante" id="autorizacion1" value="Opcion 1" required>
          <label class="form-check-label" for="autorizacion1">Opción 1</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="autorizante" id="autorizacion2" value="Opcion 2" required>
          <label class="form-check-label" for="autorizacion2">Opción 2</label>
        </div>
      </div>
    <!--firma autorizacion-->
      <div class="mb-3">
        <label for="firmaautorizacion" class="form-label">Firma de autorización</label>
        <input type="hidden" id="firmaautorizacion" name="firmaautorizacion">
          <button type="button" class="btn btn-outline-secondary btn-lg col-12" id="btnAbrirModalAutorizante">Ingresar firma</button>

          <!--Modal-->
          <div class="modal" id="modalAutorizante">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title">Firma del autorizante</h3>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <canvas id="canvaAutorizante" class="col-12" style="background-color: #ccf;"></canvas>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btnBorrar "id="borrarAutorizante">Borrar</button> 
                  <button type="button" class="btn btn-primary btnGuardar"  id="guardarAutorizante" data-bs-dismiss="modal">Hecho</button>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="mb-3">
        <label for="observacion" class="form-label">Observaciones</label>
        <textarea class="form-control" id="observacion" name="observacion"></textarea>
        <div class="form-text">
          Documento que contiene los datos de las personas que acceden a sitios críticos de TI. 
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Enviar</button>
      <button type="button" class="btn btn-secondary" onclick="limpiarFormulario()">Limpiar</button>  
    </form>
</div>
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
</body>
</html>
